<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
  link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
  title freeCodeCamp Sacramento
body
  include shared/_header.pug
  .jumbotron.mat
    .container
      p A website built by the Sacramento FreeCodeCamp community.
      p.img-cc Photo by
        a(href='https://www.flickr.com/photos/jennyarnez/12546934524/in/photolist-k7Jjvj-5Jskf-bryYjd-4Uw7V-aj5ZoA-aj3cfn-7UMwAd-hEjdMs-ntscHu-nWBk4j-9DbfK6-aj5Zgw-bzYfSB-aj3cdK-fZyuq-efN4uv-ahE8J9-oe6Wrr-qpW5z-s1RmNL-7ZK6ow-5ZQfg2-7UMzHA-edwwtA-dTSX9e-fZyx8-7UJn1F-ahBm5F-7UMybU-cxMDwo-2RmJH-bEtWMX-7UJfJV-b2oyRT-7UMtBJ-7uVyRj-a9SnzJ-BcsWN-oc864u-3qW3iY-7N8Qva-7NcQuS-8EcQwD-5xWsyb-6AZkbS-ahBmpZ-2zoapX-2zoaED-cSyeTo-4uWvUJ')  Jenny Arnez
  .container-fluid
    .row.text-center
      .col-sm-4
        span.fa-stack.fa-lg.lg-icon
          i.fa.fa-circle-thin.fa-stack-2x
          i.fa.fa-users.fa-stack-1x
        h3 Who We Are
        p We are a bunch of aspiring developers who wants to learn how to code. Our goals are to acquire new skills, network with like-minded individuals, and have a great time.
      .col-sm-4
        span.fa-stack.fa-lg.lg-icon
          i.fa.fa-circle-thin.fa-stack-2x
          i.fa.fa-code.fa-stack-1x
        h3 What We Do
        p We often gather at coffee houses to work on freecodecamp's open-source material. Helping and learning from others is what drives this community to support itself.
      .col-sm-4
        span.fa-stack.fa-lg.lg-icon
          i.fa.fa-circle-thin.fa-stack-2x
          i.fa.fa-sign-in.fa-stack-1x
        h3 Get Started
        p Join us now by heading over to our
          a(href='https://www.facebook.com/groups/free.code.camp.sacramento/')  Facebook
          |  page. Once you've done that you can head on over to
          a(href='http://www.freecodecamp.com')  freecodecamp.com
          |  and sign up for a free account and start coding!
  include shared/_footer.pug